apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: argocd
  namespace: argocd
spec:
  project: default
  destination:
    namespace: argocd
    server: https://kubernetes.default.svc
  sources:
  - path: k8s/_argocd/argocd_components
    repoURL: 'https://github.com/walnuts1018/infra'
    targetRevision: clusterapi # TODO
    directory:
      recurse: true
      jsonnet:
        tlas: []
  - repoURL: "https://argoproj.github.io/argo-helm"
    chart: "argo-cd"
    targetRevision: "9.4.2"
    helm:
      valueFiles:
      - $infra/k8s/_argocd/argocd_components/values.yaml
  syncPolicy:
    automated:
      selfHeal: true
      prune: true
    syncOptions:
    - ServerSideApply=true
    - FailOnSharedResource=true
