apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: seaweedfs-operator-helm
  namespace: argocd
spec:
  destination:
    namespace: seaweedfs-operator
    server: https://kubernetes.default.svc
  project: default
  source:
    chart: seaweedfs-operator
    helm:
      releaseName: seaweedfs-operator
      values: |
        replicaCount: 1

        grafanaDashboard:
          enabled: true

        serviceMonitor:
          enabled: true

        resources:
          requests:
            cpu: 10m
            memory: 32Mi
          limits:
            cpu: 500m
            memory: 512Mi
    repoURL: https://seaweedfs.github.io/seaweedfs-operator/
    targetRevision: 0.1.13
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - ServerSideApply=true
      - FailOnSharedResource=true
