tenant:
  name: default
  pools:
  - name: pool-0
    resources:
      requests:
        cpu: 5m
        memory: 300Mi
      limits:
        cpu: 200m
        memory: 1Gi
    servers: 4
    size: 32Gi
    volumesPerServer: 1
  certificate:
    requestAutoCert: false
  configSecret:
    existingSecret: true
  env:
  - name: MINIO_SERVER_URL
    value: "https://minio.walnuts.dev"
  - name: MINIO_BROWSER_REDIRECT_URL
    value: "https://minio-console.walnuts.dev"
  - name: MINIO_IDENTITY_OPENID_CONFIG_URL
    value: https://auth.walnuts.dev/.well-known/openid-configuration
  - name: MINIO_IDENTITY_OPENID_CLIENT_ID
    value: 241002618523026212@walnuts.dev
  - name: MINIO_IDENTITY_OPENID_CLAIM_NAME
    value: minio-policy
  - name: MINIO_IDENTITY_OPENID_SCOPES
    value: openid,profile,email
  - name: MINIO_IDENTITY_OPENID_REDIRECT_URI
    value: https://minio-console.walnuts.dev/oauth_callback
  - name: MINIO_IDENTITY_OPENID_DISPLAY_NAME
    value: Walnuts.dev
  features:
    bucketDNS: true
    domains:
      console: minio-console.walnuts.dev
      minio:
      - minio.walnuts.dev
  metrics:
    enabled: true
    port: 9000
    protocol: http
  users: []
  # poolsMetadata:
  #   annotations:
  #     instrumentation.opentelemetry.io/inject-go: 'opentelemetry-collector/default'
  #     instrumentation.opentelemetry.io/otel-go-auto-target-exe: '/usr/bin/minio'
ingress:
  api:
    enabled: true
    host: minio.walnuts.dev
    ingressClassName: cilium
    path: /
    pathType: Prefix
  console:
    enabled: true
    host: minio-console.walnuts.dev
    ingressClassName: cilium
    path: /
    pathType: Prefix
