apiVersion: redis.redis.opstreelabs.in/v1beta2
kind: Redis
metadata:
  labels:
    app.kubernetes.io/name: mucaron-redis
  name: mucaron-redis
spec:
  kubernetesConfig:
    image: quay.io/opstree/redis:v7.4.8
    imagePullPolicy: IfNotPresent
    redisSecret:
      key: redis_password
      name: mucaron-2290e1
  podSecurityContext:
    fsGroup: 1000
    runAsUser: 1000
  storage:
    volumeClaimTemplate:
      spec:
        accessModes:
          - ReadWriteOnce
        resources:
          requests:
            storage: 1Gi
