apiVersion: seaweed.seaweedfs.com/v1
kind: Seaweed
metadata:
  labels:
    app: seaweedfs-default
    app.kubernetes.io/name: seaweedfs-default
  name: seaweedfs-default
  namespace: seaweedfs
spec:
  filer:
    config: ""
    extraArgs:
      - -s3.iam.config=/etc/seaweedfs/iam.json
    limits:
      cpu: "1"
      memory: 2Gi
    metricsPort: 9327
    replicas: 2
    requests:
      cpu: 10m
      memory: 90Mi
    s3:
      configSecret:
        key: seaweedfs_s3_config.json
        name: seaweedfs-default-filer-config-f250d0
      enabled: true
    service:
      type: ClusterIP
    volumeMounts:
      - mountPath: /etc/seaweedfs
        name: filer-config-custom
        readOnly: true
      - mountPath: /etc/seaweedfs/scylladb-ca
        name: scylla-db-ca-cert
        readOnly: true
      - mountPath: /etc/seaweedfs/scylladb-client
        name: scylla-db-client-cert
        readOnly: true
    volumes:
      - name: filer-config-custom
        secret:
          secretName: seaweedfs-default-filer-config-f250d0
      - configMap:
          items:
            - key: ca.crt
              path: ca.crt
          name: seaweedfs-default-scylladb-ca-cert-c0f830
        name: scylla-db-ca-cert
      - name: scylla-db-client-cert
        secret:
          items:
            - key: tls.crt
              path: tls.crt
            - key: tls.key
              path: tls.key
          secretName: scylla-cluster-local-client-ca
  image: chrislusf/seaweedfs:4.13_large_disk
  master:
    defaultReplication: "001"
    limits:
      cpu: "1"
      memory: 2Gi
    metricsPort: 9327
    replicas: 3
    requests:
      cpu: 6m
      memory: 36Mi
    volumeSizeLimitMB: 1024
  volume:
    affinity:
      podAntiAffinity:
        preferredDuringSchedulingIgnoredDuringExecution:
          - podAffinityTerm:
              labelSelector:
                matchLabels:
                  app.kubernetes.io/component: volume
                  app.kubernetes.io/instance: seaweedfs-default
              topologyKey: topology.kubernetes.io/zone
            weight: 50
          - podAffinityTerm:
              labelSelector:
                matchLabels:
                  app.kubernetes.io/component: volume
                  app.kubernetes.io/instance: seaweedfs-default
              topologyKey: kubernetes.io/region
            weight: 40
        requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchLabels:
                app.kubernetes.io/component: volume
                app.kubernetes.io/instance: seaweedfs-default
            topologyKey: kubernetes.io/hostname
    limits:
      cpu: "1"
      memory: 2Gi
    metricsPort: 9327
    replicas: 3
    requests:
      cpu: 6m
      memory: 256Mi
      storage: 2Gi
    storageClassName: local-path
