apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: kube-system
resources:
- https://raw.githubusercontent.com/kubernetes-sigs/mcs-api/v0.3.0/config/crd/multicluster.x-k8s.io_serviceexports.yaml
- https://raw.githubusercontent.com/kubernetes-sigs/mcs-api/v0.3.0/config/crd/multicluster.x-k8s.io_serviceimports.yaml
