apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: longhorn-backup-validate-manifest-credentials
  namespace: longhorn-backup-validate
spec:
  data:
    - remoteRef:
        key: longhorn
        property: minio_secret_key
      secretKey: minio_biscuit_secret_key
    - remoteRef:
        key: velero
        property: access_key
      secretKey: velero_accessKey
    - remoteRef:
        key: velero
        property: secret_key
      secretKey: velero_secretKey
  refreshInterval: 1m
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: longhorn-backup-validate-manifest-credentials
    template:
      data:
        longhorn-secret.yaml: |
          apiVersion: v1
          kind: Secret
          metadata:
            name: longhorn-backupstore-credential
            namespace: longhorn-system
          data:
            AWS_ACCESS_KEY_ID: {{ "abaQ84KgJMyEtxZzW3RW" | b64enc }}
            AWS_ENDPOINTS: {{ "https://minio-biscuit.local.walnuts.dev/" | b64enc }}
            AWS_SECRET_ACCESS_KEY: {{ .minio_biscuit_secret_key | b64enc }}
          type: Opaque
        namespaces.yaml: |
          apiVersion: v1
          kind: Namespace
          metadata:
            name: longhorn-system
            labels:
              pod-security.kubernetes.io/enforce: privileged
              pod-security.kubernetes.io/enforce-version: latest
              pod-security.kubernetes.io/audit: privileged
              pod-security.kubernetes.io/audit-version: latest
              pod-security.kubernetes.io/warn: privileged
              pod-security.kubernetes.io/warn-version: latest
          ---
          apiVersion: v1
          kind: Namespace
          metadata:
            name: velero
            labels:
              pod-security.kubernetes.io/enforce: privileged
              pod-security.kubernetes.io/enforce-version: latest
              pod-security.kubernetes.io/audit: privileged
              pod-security.kubernetes.io/audit-version: latest
              pod-security.kubernetes.io/warn: privileged
              pod-security.kubernetes.io/warn-version: latest
        velero-secret.yaml: |
          apiVersion: v1
          kind: Secret
          metadata:
            name: velero-credential
            namespace: velero
          data:
            credentials: {{ printf "[default]\naws_access_key_id = %s\naws_secret_access_key = %s\n" .velero_accessKey .velero_secretKey | b64enc }}
          type: Opaque
      engineVersion: v2
      type: addons.cluster.x-k8s.io/resource-set
