apiVersion: addons.cluster.x-k8s.io/v1alpha1
kind: HelmChartProxy
metadata:
  name: longhorn
  namespace: longhorn-backup-validate
spec:
  chartName: longhorn
  clusterSelector:
    matchLabels:
      cluster.x-k8s.io/cluster-name: longhorn-backup-validate
  namespace: longhorn-system
  options:
    atomic: true
    install:
      includeCRDs: true
    timeout: 5m
    wait: true
    waitForJobs: true
  releaseName: longhorn
  repoURL: https://charts.longhorn.io
  valuesTemplate: |
    defaultSettings:
      defaultReplicaCount: '1'
      defaultDataPath: "/var/lib/longhorn/"
    csi:
      attacherReplicaCount: 1
      provisionerReplicaCount: 1
      resizerReplicaCount: 1
      snapshotterReplicaCount: 1
    service:
      ui:
        type: ClusterIP
    persistence:
      defaultClassReplicaCount: 1
      reclaimPolicy: Retain
    longhornUI:
      replicas: 1
    longhornConversionWebhook:
      replicas: 1
    longhornAdmissionWebhook:
      replicas: 1
    longhornRecoveryBackend:
      replicas: 1
    defaultBackupStore:
      backupTarget: "s3://longhorn-backup@ap-northeast-1/"
      backupTargetCredentialSecret: longhorn-backupstore-credential
  version: 1.10.1
