apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- resources.yaml
- credentials
helmCharts:
- name: longhorn
  repo: https://charts.longhorn.io
  releaseName: longhorn
  namespace: longhorn-system
  version: 1.10.1
  valuesInline:
    defaultSettings:
      defaultReplicaCount: '1'
    csi:
      attacherReplicaCount: 1
      provisionerReplicaCount: 1
      resizerReplicaCount: 1
      snapshotterReplicaCount: 1
    service:
      ui:
        type: ClusterIP
    persistence:
      defaultClassReplicaCount: 1
      reclaimPolicy: Retain
    longhornUI:
      replicas: 1
    longhornConversionWebhook:
      replicas: 1
    longhornAdmissionWebhook:
      replicas: 1
    longhornRecoveryBackend:
      replicas: 1
    defaultBackupStore:
      backupTarget: "s3://longhorn-backup@ap-northeast-1/"
      backupTargetCredentialSecret: longhorn-backupstore-credential
- name: velero
  repo: https://vmware-tanzu.github.io/helm-charts
  releaseName: velero
  namespace: velero
  version: 11.1.1
  valuesInline:
    kubectl:
      image:
        repository: docker.io/bitnamilegacy/kubectl
        tag: 1.33.4

    initContainers:
    - name: velero-plugin-for-aws
      image: velero/velero-plugin-for-aws:v1.13.1
      volumeMounts:
      - mountPath: /target
        name: plugins
    configuration:
      features: EnableCSI
      # logLevel: debug
      backupStorageLocation:
      - name: minio-biscuit
        provider: aws
        bucket: velero-backup
        config:
          s3Url: https://minio-biscuit.local.walnuts.dev/
          region: ap-northeast-1
          s3ForcePathStyle: "true"
        credential:
          name: velero-minio-biscuit-credential
          key: credentials
      volumeSnapshotLocation:
      - name: minio-biscuit
        provider: aws
        config:
          s3Url: https://minio-biscuit.local.walnuts.dev/
          region: ap-northeast-1
          s3ForcePathStyle: "true"
        credential:
          name: velero-minio-biscuit-credential
          key: credentials
