apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: blackbox-exporter-helm
  namespace: argocd
spec:
  destination:
    namespace: monitoring
    server: https://kubernetes.default.svc
  project: default
  source:
    chart: prometheus-blackbox-exporter
    helm:
      releaseName: blackbox-exporter
      values: |
        serviceMonitor:
          selfMonitor:
            enabled: true
          enabled: true
          targets:
          - name: "walnuts-dev"
            url: "https://walnuts.dev/healthz"
          - name: "http-test"
            url: "https://httptest.walnuts.dev/"
          - name: "blog"
            url: "https://blog.walnuts.dev/"
          - name: "grafana"
            url: "https://grafana.walnuts.dev/healthz"
          - name: "oekaki-dengon-game"
            url: "https://oekaki.walnuts.dev/public"
          - name: "misskey"
            url: "https://misskey.walnuts.dev/healthz"
          - name: "seaweedfs"
            url: "https://seaweedfs.walnuts.dev/misskey/files/b318bef0-983e-4f24-b7ee-9075ec17fc01.webp"
          - name: "walnuk-front"
            url: "https://waln.uk/"
          - name: "walnuk-back"
            url: "https://waln.uk/oDwHe"
          - name: "zitadel"
            url: "https://auth.walnuts.dev/healthz"

        resources:
          requests:
            cpu: 2m
            memory: 39Mi
          limits:
            memory: 300Mi
    repoURL: https://prometheus-community.github.io/helm-charts
    targetRevision: 11.8.0
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - ServerSideApply=true
      - FailOnSharedResource=true
