serviceMonitor:
  selfMonitor:
    enabled: true
  enabled: true
  targets:
  - name: "walnuts-dev"
    url: "https://walnuts.dev/healthz"
  - name: "http-test"
    url: "https://httptest.walnuts.dev/"
  - name: "blog"
    url: "https://blog.walnuts.dev/"
  - name: "grafana"
    url: "https://grafana.walnuts.dev/healthz"
  - name: "oekaki-dengon-game"
    url: "https://oekaki.walnuts.dev/public"
  - name: "misskey"
    url: "https://misskey.walnuts.dev/healthz"
  - name: "seaweedfs"
    url: "https://seaweedfs.walnuts.dev/misskey/files/2273de75-527d-44cf-b7e0-6a85ae4eea36.webp"
  - name: "walnuk-front"
    url: "https://waln.uk/"
  - name: "walnuk-back"
    url: "https://waln.uk/oDwHe"
  - name: "zitadel"
    url: "https://auth.walnuts.dev/healthz"

resources:
  requests:
    cpu: 2m
    memory: 39Mi
  limits:
    memory: 300Mi
