rbac:
  pspEnabled: false

image:
  pullPolicy: IfNotPresent

resources:
  requests:
    cpu: 100m
    memory: 400Mi
  limits:
    cpu: 500m
    memory: 1Gi

tolerations:
- operator: Exists

victoria-metrics-single:
  enabled: false

grafana:
  enabled: false
