apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: redis-haproxy-secret
spec:
  secretStoreRef:
    name: vault
    kind: ClusterSecretStore
  refreshInterval: 1m
  target:
    name: redis-haproxy-secret
  data:
  - secretKey: haproxy.cfg
    remoteRef:
      key: redis
      property: haproxy-config
