apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: ghcr-login-secret
spec:
  secretStoreRef:
    name: vault-secretstore
    kind: ClusterSecretStore
  refreshInterval: 1m
  target:
    name: ghcr-login-secret
  data:
  - secretKey: .dockerconfigjson
    remoteRef:
      key: github
      property: .dockerconfigjson
