apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: warrior
  namespace: warrior
spec:
  hostnames:
    - warrior.walnuts.dev
  parentRefs:
    - name: pomerium-gateway
      namespace: pomerium
  rules:
    - backendRefs:
        - kind: Service
          name: warrior
          port: 8001
          weight: 1
      filters:
        - extensionRef:
            group: gateway.pomerium.io
            kind: PolicyFilter
            name: warrior
          type: ExtensionRef
