apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: hubble-oauth2-proxy
  namespace: cilium-system
spec:
  hostnames:
    - hubble.walnuts.dev
  parentRefs:
    - name: pomerium-gateway
      namespace: pomerium
  rules:
    - backendRefs:
        - kind: Service
          name: hubble-ui
          port: 80
          weight: 1
      filters:
        - extensionRef:
            group: gateway.pomerium.io
            kind: PolicyFilter
            name: hubble-oauth2-proxy
          type: ExtensionRef
