apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: dashy
spec:
  storageClassName: longhorn
  volumeName: dashy
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
