apiVersion: apps/v1
kind: Deployment
metadata:
  name: kmc-proxy
spec:
  selector:
    matchLabels:
      app: kmc-proxy
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: kmc-proxy
    spec:
      containers:
      - image: ghcr.io/walnuts1018/ssh-client-image:latest
        imagePullPolicy: IfNotPresent
        name: kmc-proxy
        command: ["/bin/sh", "-c"]
        args: ["cp /root/ssh-temp/* /root/.ssh && chmod 600 /root/.ssh/* && ssh kmc -Nfg -oStrictHostKeyChecking=no && sleep 12h"]
        volumeMounts:
        - mountPath: /root/ssh-temp
          readOnly: false
          name: kmc-proxy-volume
        resources:
          requests:
            memory: 1Mi
          limits:
            memory: 512Mi

      volumes:
      - name: kmc-proxy-volume
        projected:
          sources:
          - configMap:
              name: kmc-proxy-conf
              items:
              - key: config
                path: config
          - secret:
              name: kmc-proxy
