apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: minio-biscuit-backup-kurumi-role
  namespace: minio-biscuit
rules:
  - apiGroups:
      - batch
    resources:
      - cronjobs
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - batch
    resources:
      - jobs
    verbs:
      - get
      - list
      - watch
      - create
