kubeProxyReplacement: true
l7Proxy: true
k8sServiceHost: 192.168.0.17
k8sServicePort: 16443
l2announcements:
  enabled: true
bgpControlPlane:
  enabled: true
k8sClientRateLimit:
  qps: 10
  burst: 20
resources:
  requests:
    cpu: 100m
    memory: 512Mi
  limits:
    memory: 2Gi
clustermesh:
  useAPIServer: true
  maxConnectedClusters: 255
  enableEndpointSliceSynchronization: false
  config:
    enabled: true
  apiserver:
    etcd:
      resources:
        requests:
          cpu: 200m
          memory: 256Mi
        limits:
          cpu: 1000m
          memory: 256Mi
      init:
        resources:
          requests:
            cpu: 100m
            memory: 100Mi
          limits:
            cpu: 100m
            memory: 100Mi
    kvstoremesh:
      enabled: true
      resources:
        requests:
          cpu: 100m
          memory: 64Mi
        limits:
          cpu: 1000m
          memory: 1024M
    service:
      type: LoadBalancer
    replicas: 1
    resources:
      requests:
        cpu: 100m
        memory: 64Mi
      limits:
        cpu: 1000m
        memory: 1024M
    # TODO
    tls:
      auto:
        enabled: true
        method: certmanager
        certManagerIssuerRef:
          group: cert-manager.io
          kind: Issuer
          name: cilium-cluster-mesh
    metrics:
      enabled: true
      serviceMonitor:
        enabled: true
ingressController:
  enabled: true
  loadbalancerMode: shared
  default: true
  enforceHttps: true
  service:
    loadBalancerIP: 192.168.0.129
  defaultSecretName: cloudflare-origin-cert
  defaultSecretNamespace: cilium-system
  secretsNamespace:
    create: false
    name: cilium-secrets
    # -- Enable secret sync, which will make sure all TLS secrets used by Ingress are synced to secretsNamespace.name.
    # If disabled, TLS secrets must be maintained externally.
    sync: true
nodePort:
  enabled: true
hubble:
  tls:
    enabled: true
    auto:
      enabled: true
      method: cronJob
  relay:
    enabled: true
    prometheus:
      enabled: true
      serviceMonitor:
        enabled: true
    resources:
      requests:
        cpu: 1m
        memory: 80Mi
      limits:
        memory: 512Mi
  ui:
    enabled: true
    backend:
      resources:
        requests:
          cpu: 1m
          memory: 60Mi
        limits:
          memory: 256Mi
    frontend:
      resources:
        requests:
          cpu: 1m
          memory: 10Mi
        limits:
          memory: 256Mi
  metrics:
    enableOpenMetrics: true
    enabled:
    - dns
    - drop
    - tcp
    - flow
    - port-distribution
    - icmp
    - httpV2:exemplars=true
    serviceMonitor:
      enabled: true
    dashboards:
      enabled: true
envoy:
  prometheus:
    enabled: true
    serviceMonitor:
      enabled: true
  resources:
    requests:
      cpu: 10m
      memory: 51Mi
operator:
  tolerations: []
  prometheus:
    enabled: true
    serviceMonitor:
      enabled: true
  resources:
    requests:
      cpu: 2m
      memory: 51Mi
    limits:
      memory: 512Mi
prometheus:
  enabled: true
  serviceMonitor:
    enabled: true
    trustCRDsExist: true
envoyConfig:
  enabled: true
  secretsNamespace:
    create: false
    name: cilium-secrets
tls:
  secretsNamespace:
    create: false
    name: cilium-secrets
