kubeProxyReplacement: true
l7Proxy: true
k8sServiceHost: 192.168.0.17
k8sServicePort: 16443
l2announcements:
  enabled: true
bgpControlPlane:
  enabled: true
k8sClientRateLimit:
  qps: 10
  burst: 20
resources:
  requests:
    cpu: 100m
    memory: 512Mi
  limits:
    memory: 2Gi
clustermesh:
  useAPIServer: true
  maxConnectedClusters: 255
  enableEndpointSliceSynchronization: false
  enableMCSAPISupport: false
  config:
    enabled: true
    # -- List of clusters to be peered in the mesh.
    clusters: []
    # clusters:
    # # -- Name of the cluster
    # - name: cluster1
    # # -- Address of the cluster, use this if you created DNS records for
    # # the cluster Clustermesh API server.
    #   address: cluster1.mesh.cilium.io
    # # -- Port of the cluster Clustermesh API server.
    #   port: 2379
    # # -- IPs of the cluster Clustermesh API server, use multiple ones when
    # # you have multiple IPs to access the Clustermesh API server.
    #   ips:
    #   - 172.18.255.201
    # # -- base64 encoded PEM values for the cluster client certificate, private key and certificate authority.
    # # These fields can (and should) be omitted in case the CA is shared across clusters. In that case, the
    # # "remote" private key and certificate available in the local cluster are automatically used instead.
    #   tls:
    #     cert: ""
    #     key: ""
    #     caCert: ""
  apiserver:
    etcd:
      resources:
        requests:
          cpu: 200m
          memory: 256Mi
        limits:
          cpu: 1000m
          memory: 256Mi
      init:
        resources:
          requests:
            cpu: 100m
            memory: 100Mi
          limits:
            cpu: 100m
            memory: 100Mi
    kvstoremesh:
      enabled: true
      resources:
        requests:
          cpu: 100m
          memory: 64Mi
        limits:
          cpu: 1000m
          memory: 1024M
    service:
      type: LoadBalancer
    replicas: 1
    resources:
      requests:
        cpu: 100m
        memory: 64Mi
      limits:
        cpu: 1000m
        memory: 1024M
    # TODO
    tls:
      auto:
        enabled: true
        method: certmanager
        certManagerIssuerRef:
          group: cert-manager.io
          kind: ClusterIssuer
          name: local
    metrics:
      enabled: true
      serviceMonitor:
        enabled: true
ingressController:
  enabled: true
  loadbalancerMode: shared
  default: true
  enforceHttps: true
  service:
    loadBalancerIP: 192.168.0.129
  defaultSecretName: cloudflare-origin-cert
  defaultSecretNamespace: cilium-system
  secretsNamespace:
    create: false
    name: cilium-secrets
    # -- Enable secret sync, which will make sure all TLS secrets used by Ingress are synced to secretsNamespace.name.
    # If disabled, TLS secrets must be maintained externally.
    sync: true
nodePort:
  enabled: true
hubble:
  tls:
    enabled: true
    auto:
      enabled: true
      method: cronJob
  relay:
    enabled: true
    prometheus:
      enabled: true
      serviceMonitor:
        enabled: true
    resources:
      requests:
        cpu: 1m
        memory: 80Mi
      limits:
        memory: 512Mi
  ui:
    enabled: true
    backend:
      resources:
        requests:
          cpu: 1m
          memory: 60Mi
        limits:
          memory: 256Mi
    frontend:
      resources:
        requests:
          cpu: 1m
          memory: 10Mi
        limits:
          memory: 256Mi
  metrics:
    enableOpenMetrics: true
    enabled:
    - dns
    - drop
    - tcp
    - flow
    - port-distribution
    - icmp
    - httpV2:exemplars=true
    serviceMonitor:
      enabled: true
    dashboards:
      enabled: true
envoy:
  prometheus:
    enabled: true
    serviceMonitor:
      enabled: true
  resources:
    requests:
      cpu: 10m
      memory: 51Mi
operator:
  tolerations: []
  prometheus:
    enabled: true
    serviceMonitor:
      enabled: true
  resources:
    requests:
      cpu: 2m
      memory: 51Mi
    limits:
      memory: 512Mi
prometheus:
  enabled: true
  serviceMonitor:
    enabled: true
    trustCRDsExist: true
envoyConfig:
  enabled: true
  secretsNamespace:
    create: false
    name: cilium-secrets
tls:
  secretsNamespace:
    create: false
    name: cilium-secrets
