apiVersion: v1
data:
    nginx.conf: |
        user nginx;
        worker_processes 1;
        error_log /var/log/nginx/error.log;
        events {
            worker_connections 10240;
        }
        http {
            log_format main
            'remote_addr:$remote_addr\t'
            'time_local:$time_local\t'
            'method:$request_method\t'
            'uri:$request_uri\t'
            'host:$host\t'
            'status:$status\t'
            'bytes_sent:$body_bytes_sent\t'
            'referer:$http_referer\t'
            'useragent:$http_user_agent\t'
            'forwardedfor:$http_x_forwarded_for\t'
            'request_time:$request_time';

            access_log /var/log/nginx/access.log main;

            include /etc/nginx/virtualhost/virtualhost.conf;
        }
    virtualhost.conf: |
        server {
            listen 8080 default_server;
            server_name "";
            real_ip_header X-Forwarded-For;
            real_ip_recursive on;

            location / {
                if ($msec ~* [0-3]$) {
                    set $test_id "1";
                    proxy_pass "http://http-dump.default.svc.cluster.local:8080";
                }
                if ($msec ~* [4-6]$) {
                    set $test_id "2";
                    proxy_pass "http://http-dump.default.svc.cluster.local:8080";
                }
                if ($msec ~* [7-9]$) {
                    set $test_id "3";
                    proxy_pass "http://http-dump.default.svc.cluster.local:8080";
                }
                proxy_set_header TEST-ID $test_id;
                proxy_set_header X-Real-IP $remote_addr;
                proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            }
        }
kind: ConfigMap
metadata:
    labels:
        app: nginx-test
        app.kubernetes.io/name: nginx-test
    name: nginx-test
    namespace: default

---
