apiVersion: apps/v1
kind: Deployment
metadata:
  name: http-dump
  labels:
    app: http-dump
spec:
  selector:
    matchLabels:
      app: http-dump
  template:
    metadata:
      labels:
        app: http-dump
    spec:
      containers:
      - name: http-dump
        securityContext:
          readOnlyRootFilesystem: true
          seccompProfile:
            type: RuntimeDefault
          runAsNonRoot: true
          allowPrivilegeEscalation: false
        image: ghcr.io/walnuts1018/http-dump:629824cedeccfb239b7d490f2f6dffb70f12a5f7-24 # {"$imagepolicy": "default:http-dump"}
        ports:
        - name: http
          containerPort: 8080
        resources:
          limits:
            cpu: "500m"
            memory: 500Mi
          requests:
            cpu: "0"
            memory: 10Mi
        env:
        - name: OTEL_EXPORTER_OTLP_INSECURE
          value: "true"
        - name: OTEL_EXPORTER_OTLP_ENDPOINT
          value: "http://default-collector.opentelemetry-collector.svc.cluster.local:4317"
