apiVersion: external-secrets.io/v1beta1
kind: ClusterExternalSecret
metadata:
    name: ghcr-login-secret
spec:
    externalSecretName: ghcr-login-secret
    externalSecretSpec:
        data:
            - remoteRef:
                key: github
                property: .dockerconfigjson
              secretKey: .dockerconfigjson
        refreshInterval: 1m
        secretStoreRef:
            kind: ClusterSecretStore
            name: onepassword
        target:
            name: ghcr-login-secret
            template:
                type: kubernetes.io/dockerconfigjson
    namespaceSelector:
        matchExpressions:
            - key: kubernetes.io/metadata.name
              operator: Exists
            - key: walnuts.dev/public
              operator: DoesNotExist

---
