deployment:
  envoyGateway:
    resources:
      requests:
        cpu: 2m
        memory: 51Mi
      limits:
        memory: 1Gi

config:
  envoyGateway:
    extensionApis:
      enableBackend: true
      enableEnvoyPatchPolicy: true
    rateLimit:
      backend:
        type: Redis
        redis:
          url: "envoy-gateway-redis-leader.envoy-gateway-system.svc.cluster.local:6379, envoy-gateway-redis-leader.envoy-gateway-system.svc.cluster.local:6379"
    provider:
      kubernetes:
        rateLimitDeployment:
          container:
            env:
            - name: REDIS_TLS
              value: "false"
