[storage]
data = "postgresql"
blob = "s3"
fts = "postgresql"
lookup = "redis"
directory = "internal"

[store."postgresql"]
type = "postgresql"
host = "postgresql-default-rw.databases.svc.cluster.local"
port = 5432
database = "stalwart"
user = "stalwart"
password = "{{ .postgres_password }}"
timeout = "15s"

[store."postgresql".pool]
max-connections = 20

[store."redis"]
type = "redis"
redis-type = "cluster"
urls = [
    "redis://stalwart-redis-leader-0.stalwart-redis-leader.stalwart.svc.cluster.local:6379",
    "redis://stalwart-redis-leader-1.stalwart-redis-leader.stalwart.svc.cluster.local:6379",
    "redis://stalwart-redis-leader-2.stalwart-redis-leader.stalwart.svc.cluster.local:6379",
]
timeout = "10s"
read-from-replicas = false
protocol-version = "resp3"

[store."redis".retry]
total = 3
max-wait = "1s"
min-wait = "500ms"

[store."s3"]
type = "s3"
bucket = "stalwart"
region = "us-east-1"
endpoint = "https://seaweedfs.local.walnuts.dev"
access-key = "stalwart"
secret-key = "{{ .s3_secret_key }}"
timeout = "30s"
key-prefix = "mail/"

[directory."internal"]
type = "internal"
store = "postgresql"

[tracer."stdout"]
type = "stdout"
level = "info"
ansi = true
enable = true

[server.listener.smtp]
bind = "[::]:25"
protocol = "smtp"

[server.listener.submission]
bind = "[::]:587"
protocol = "smtp"

[server.listener.submissions]
bind = "[::]:465"
protocol = "smtp"
tls.implicit = true

[server.listener.imap]
bind = "[::]:143"
protocol = "imap"

[server.listener.imaptls]
bind = "[::]:993"
protocol = "imap"
tls.implicit = true

[server.listener.pop3]
bind = "[::]:110"
protocol = "pop3"

[server.listener.pop3s]
bind = "[::]:995"
protocol = "pop3"
tls.implicit = true

[server.listener.sieve]
bind = "[::]:4190"
protocol = "managesieve"

[server.listener.https]
protocol = "http"
bind = "[::]:443"
tls.implicit = true

[server.listener.http]
protocol = "http"
bind = "[::]:8080"
