[storage]
data = "postgresql"
blob = "s3"
fts = "postgresql"
lookup = "redis"
directory = "internal"

[store."postgresql"]
type = "postgresql"
host = "postgresql-default-rw.databases.svc.cluster.local"
port = 5432
database = "stalwart"
user = "stalwart"
password = "{{ .postgres_password }}"
timeout = "15s"

[store."postgresql".pool]
max-connections = 20

[store."redis"]
type = "redis"
redis-type = "cluster"
urls = [
    "redis://stalwart-redis-leader-0.stalwart-redis-leader.stalwart.svc.cluster.local:6379",
    "redis://stalwart-redis-leader-1.stalwart-redis-leader.stalwart.svc.cluster.local:6379",
    "redis://stalwart-redis-leader-2.stalwart-redis-leader.stalwart.svc.cluster.local:6379",
]
timeout = "10s"
read-from-replicas = false
protocol-version = "resp3"

[store."redis".retry]
total = 3
max-wait = "1s"
min-wait = "500ms"

[store."s3"]
type = "s3"
bucket = "stalwart"
region = "us-east-1"
endpoint = "https://seaweedfs.local.walnuts.dev"
timeout = "30s"
key-prefix = "mail/"

[directory."internal"]
type = "internal"
store = "postgresql"

[authentication.fallback-admin]
user = "admin"
secret = "{{ .admin_secret }}"

[tracer."stdout"]
type = "stdout"
level = "trace"
ansi = true
enable = true
