---
apiVersion: source.toolkit.fluxcd.io/v1beta1
kind: HelmRepository
metadata:
  name: repo
spec:
  url: https://oauth2-proxy.github.io/manifests
---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: release
spec:
  chart:
    spec:
      chart: oauth2-proxy
      version: 7.0.0
      sourceRef:
        kind: HelmRepository
        name: sweets-rebellion-oauth2-proxy-repo
  values:
    config:
      existingSecret: sweets-rebellion-oauth2-proxy-secret
      configFile: |-
        email_domains = [ "*" ]
        upstreams = [ "http://sweets-rebellion.sweets-rebellion.svc.cluster.local/" ]
        pass_access_token = true
        user_id_claim = "sub"
        oidc_groups_claim="my:zitadel:grants"
        allowed_groups = ["237477822715658605:sweets-rebellion"]

    extraArgs:
      provider: oidc
      redirect-url: https://sweets-rebellion.walnuts.dev/oauth2/callback
      oidc-issuer-url: https://auth.walnuts.dev
      skip-provider-button: true

    ingress:
      enabled: true
      className: nginx
      path: /
      # Only used if API capabilities (networking.k8s.io/v1) allow it
      pathType: Prefix
      # Used to create an Ingress record.
      hosts:
        - "sweets-rebellion.walnuts.dev"

    # Configure the session storage type, between cookie and redis
    sessionStorage:
      # Can be one of the supported session storage cookie|redis
      type: redis
      redis:
        # Name of the Kubernetes secret containing the redis & redis sentinel password values (see also `sessionStorage.redis.passwordKey`)
        existingSecret: "sweets-rebellion-oauth2-proxy-secret"
        # Key of the Kubernetes secret data containing the redis password value
        passwordKey: "redis-password"
        # Can be one of standalone|cluster|sentinel
        clientType: "sentinel"
        sentinel:
          existingSecret: "sweets-rebellion-oauth2-proxy-secret"
          passwordKey: "redis-password"
          # Redis sentinel master name
          masterName: "mymaster"
          # List of Redis sentinel connection URLs (e.g. `["redis://127.0.0.1:8000", "redis://127.0.0.1:8000"]`)
          connectionUrls: "redis://redis-release.databases.svc.cluster.local:6379,redis://redis-release.databases.svc.cluster.local:26379"

    # Enables and configure the automatic deployment of the redis subchart
    redis:
      # provision an instance of the redis sub-chart
      enabled: false
      # Redis specific helm chart settings, please see:
      # https://github.com/bitnami/charts/tree/master/bitnami/redis#parameters
      # redisPort: 6379
      #cluster:
      #enabled: false
      #slaveCount: 1
      image:
        tag: 7.0.9-debian-11-r6
      replica:
        replicaCount: 1

    metrics:
      enabled: true
