apiVersion: v1
kind: Namespace
metadata:
  name: onepassword
---
apiVersion: v1
kind: Secret
metadata:
  name: op-credentials
  namespace: onepassword
type: Opaque
data:
  1password-credentials.json: %s
---
apiVersion: v1
kind: Secret
metadata:
  name: onepassword-token
  namespace: onepassword
type: Opaque
data:
  token: %s
