operator:
  env:
  - name: OPERATOR_STS_AUTO_TLS_ENABLED
    value: "off"
  - name: OPERATOR_STS_ENABLED
    value: "on"
  replicaCount: 1
  resources:
    requests:
      cpu: 100m
      memory: 50Mi
    limits:
      cpu: 300m
      memory: 256Mi
