[minio-biscuit]
type = s3
provider = Minio
env_auth = true
region = ap-northeast-1
profile = minio-biscuit
upload_cutoff = 16M

[b2]
type = b2
account = 004ab15b5942e2c0000000003
key = {{ .b2_application_key }}
hard_delete = true
