[minio-biscuit]
type = s3
provider = Minio
env_auth = true
region = ap-northeast-1
profile = minio-biscuit
upload_cutoff = 16M

[b2]
type = b2
account = e
key = {{ .b2_application_key }}
endpoint = s3.us-west-004.backblazeb2.com
hard_delete = true
