apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: machine-status-api-secret
spec:
  secretStoreRef:
    name: vault-secretstore
    kind: ClusterSecretStore
  refreshInterval: 1m
  target:
    name: machine-status-api-secret
  data:
  - secretKey: token
    remoteRef:
      key: pve
      property: API_TOKEN_ID
  - secretKey: secret
    remoteRef:
      key: pve
      property: API_SECRET
