defaultSettings:
  allowNodeDrainWithLastHealthyReplica: true
  orphanAutoDeletion: true
  defaultReplicaCount: '2'
csi:
  attacherReplicaCount: 2
  provisionerReplicaCount: 2
  resizerReplicaCount: 2
  snapshotterReplicaCount: 2
service:
  ui:
    type: ClusterIP
persistence:
  defaultClassReplicaCount: 2
  reclaimPolicy: Retain

longhornUI:
  replicas: 1
longhornConversionWebhook:
  replicas: 1
longhornAdmissionWebhook:
  replicas: 1
longhornRecoveryBackend:
  replicas: 1
metrics:
  serviceMonitor:
    enabled: true

defaultBackupStore:
  backupTarget: "s3://longhorn-backup@ap-northeast-1/"
