apiVersion: redis.redis.opstreelabs.in/v1beta2
kind: RedisCluster
metadata:
  labels:
    app: tempo-redis
    app.kubernetes.io/name: tempo-redis
  name: tempo-redis
spec:
  clusterSize: 3
  clusterVersion: v7
  kubernetesConfig:
    image: quay.io/opstree/redis:v7.4.8
    imagePullPolicy: IfNotPresent
    resources:
      limits:
        cpu: "1"
        memory: 1Gi
      requests:
        cpu: 5m
        memory: 5Mi
  persistenceEnabled: true
  podSecurityContext:
    fsGroup: 1000
    runAsUser: 1000
  storage:
    volumeClaimTemplate:
      spec:
        accessModes:
          - ReadWriteOnce
        resources:
          requests:
            storage: 1Gi
