tempo:
  resources:
    requests:
      cpu: 5m
      memory: 256Mi
    limits:
      memory: 4Gi
  storage:
    trace:
      backend: s3
      s3:
        bucket: tempo
        endpoint: "minio.minio.svc.cluster.local"
        access_key: '${MINIO_ACCESS_KEY}'
        secret_key: '${MINIO_SECRET_KEY}'
        insecure: true
  extraEnv:
  - name: MINIO_ACCESS_KEY
    valueFrom:
      secretKeyRef:
        name: tempo-credentials
        key: MINIO_ACCESS_KEY
  - name: MINIO_SECRET_KEY
    valueFrom:
      secretKeyRef:
        name: tempo-credentials
        key: MINIO_SECRET_KEY
  extraArgs:
    "-config.expand-env": true
serviceMonitor:
  enabled: true
