tempo:
  metricsGenerator:
    enabled: true
    remoteWriteUrl: "http://prometheus-stack-kube-prom-prometheus.monitoring.svc.cluster.local:9090/api/v1/write"

  resources:
    requests:
      cpu: 5m
      memory: 256Mi
    limits:
      memory: 4Gi
  storage:
    trace:
      backend: s3
      s3:
        bucket: tempo
        endpoint: "seaweedfs.local.walnuts.dev"
        region: us-east-1
  server:
    log_level: debug
  extraArgs:
    "-config.expand-env": true
  extraEnv:
  - name: MC_WEB_IDENTITY_TOKEN
    value: /var/run/secrets/sts.seaweedfs.com/serviceaccount/token
  - name: MC_STS_ENDPOINT
    value: https://seaweedfs.local.walnuts.dev
  - name: AWS_ROLE_ARN
    value: arn:aws:iam::role/tempo
  extraVolumeMounts:
  - name: seaweedfs-sts-token
    mountPath: /var/run/secrets/sts.seaweedfs.com/serviceaccount
    readOnly: true

extraVolumes:
- name: seaweedfs-sts-token
  projected:
    sources:
    - serviceAccountToken:
        audience: sts.seaweedfs.com
        expirationSeconds: 3600
        path: token
