global:
  extraArgs:
  - "-config.expand-env=true"
  extraEnv:
  - name: AWS_WEB_IDENTITY_TOKEN_FILE
    value: /var/run/secrets/sts.seaweedfs.com/serviceaccount/token
  # https://github.com/grafana/tempo/blob/47b3f3900de1b69b58bae14d8486d70f2fcee394/tempodb/backend/s3/s3.go#L702
  - name: TEST_IAM_ENDPOINT
    value: https://seaweedfs.local.walnuts.dev
  - name: AWS_ROLE_ARN
    value: arn:aws:iam::role/tempo
  storageClass: longhorn
multitenancyEnabled: false

ingester:
  replicas: 3
  resources:
    requests:
      memory: 100Mi
      cpu: 100m
    limits:
      memory: 2Gi
      cpu: 1000m
  extraVolumeMounts:
  - name: seaweedfs-sts-token
    mountPath: /var/run/secrets/sts.seaweedfs.com/serviceaccount
    readOnly: true
  extraVolumes:
  - name: seaweedfs-sts-token
    projected:
      sources:
      - serviceAccountToken:
          audience: sts.seaweedfs.com
          expirationSeconds: 3600
          path: token
  persistence:
    enabled: true
    size: 10Gi
  config:
    replication_factor: 3

metricsGenerator:
  enabled: false

distributor:
  replicas: 1
  autoscaling:
    enabled: true
    minReplicas: 1
    maxReplicas: 3
    targetCPUUtilizationPercentage: null
    targetMemoryUtilizationPercentage: 100
  resources:
    requests:
      memory: 100Mi
      cpu: 100m
    limits:
      memory: 2Gi
      cpu: 1000m
  extraVolumeMounts:
  - name: seaweedfs-sts-token
    mountPath: /var/run/secrets/sts.seaweedfs.com/serviceaccount
    readOnly: true
  extraVolumes:
  - name: seaweedfs-sts-token
    projected:
      sources:
      - serviceAccountToken:
          audience: sts.seaweedfs.com
          expirationSeconds: 3600
          path: token

compactor:
  replicas: 1
  autoscaling:
    enabled: true
    minReplicas: 1
    maxReplicas: 3
    hpa:
      enabled: true
      targetCPUUtilizationPercentage: null
      targetMemoryUtilizationPercentage: 100
  resources:
    requests:
      memory: 100Mi
      cpu: 100m
    limits:
      memory: 2Gi
      cpu: 1000m
  extraVolumeMounts:
  - name: seaweedfs-sts-token
    mountPath: /var/run/secrets/sts.seaweedfs.com/serviceaccount
    readOnly: true
  extraVolumes:
  - name: seaweedfs-sts-token
    projected:
      sources:
      - serviceAccountToken:
          audience: sts.seaweedfs.com
          expirationSeconds: 3600
          path: token

querier:
  replicas: 1
  autoscaling:
    enabled: true
    minReplicas: 1
    maxReplicas: 3
    targetCPUUtilizationPercentage: null
    targetMemoryUtilizationPercentage: 100
  extraVolumeMounts:
  - name: seaweedfs-sts-token
    mountPath: /var/run/secrets/sts.seaweedfs.com/serviceaccount
    readOnly: true
  extraVolumes:
  - name: seaweedfs-sts-token
    projected:
      sources:
      - serviceAccountToken:
          audience: sts.seaweedfs.com
          expirationSeconds: 3600
          path: token
  resources:
    requests:
      memory: 100Mi
      cpu: 100m
    limits:
      memory: 2Gi
      cpu: 1000m

queryFrontend:
  replicas: 1
  autoscaling:
    enabled: true
    minReplicas: 1
    maxReplicas: 3
    targetCPUUtilizationPercentage: null
    targetMemoryUtilizationPercentage: 100
  resources:
    requests:
      memory: 100Mi
      cpu: 100m
    limits:
      memory: 2Gi
      cpu: 1000m
  extraVolumeMounts:
  - name: seaweedfs-sts-token
    mountPath: /var/run/secrets/sts.seaweedfs.com/serviceaccount
    readOnly: true
  extraVolumes:
  - name: seaweedfs-sts-token
    projected:
      sources:
      - serviceAccountToken:
          audience: sts.seaweedfs.com
          expirationSeconds: 3600
          path: token

traces:
  otlp:
    http:
      enabled: true
    grpc:
      enabled: true

server:
  logLevel: info
  logFormat: logfmt

cache:
  caches:
  # TODO: level=error ts=2026-01-12T07:17:21.403417712Z caller=redis_cache.go:46 msg="error connecting to redis" name=parquet-footer|bloom|frontend-search err="context deadline exceeded"
  - redis:
      endpoint: "tempo-redis-leader.tempo.svc.cluster.local:6379,tempo-redis-leader.tempo.svc.cluster.local:6379"
      tls_enabled: true
      tls_insecure_skip_verify: true
    roles:
    - parquet-footer
    - bloom
    - frontend-search

storage:
  trace:
    backend: s3
    s3:
      bucket: tempo
      endpoint: "seaweedfs.local.walnuts.dev"
      region: us-east-1
      forcepathstyle: true

memcached:
  enabled: false

metaMonitoring:
  serviceMonitor:
    enabled: true

gateway:
  enabled: true
  replicas: 1
  autoscaling:
    enabled: true
    minReplicas: 1
    maxReplicas: 3
    targetCPUUtilizationPercentage: null
    targetMemoryUtilizationPercentage: 100
  verboseLogging: true
  resources:
    requests:
      memory: 100Mi
      cpu: 100m
    limits:
      memory: 2Gi
      cpu: 1000m

provisioner:
  enabled: false
