apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: scylla-cluster-migrations-7ba27e
  namespace: databases
spec:
  data:
    - remoteRef:
        key: scylladb
        property: admin
      secretKey: admin_password
    - remoteRef:
        key: scylladb
        property: walnuk
      secretKey: walnuk_password
    - remoteRef:
        key: scylladb
        property: seaweedfs
      secretKey: seaweedfs_password
  refreshInterval: 1m
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: scylla-cluster-migrations-7ba27e
    template:
      data:
        admin_password: '{{ .admin_password }}'
        admin_username: cassandra
        migrations.cql: |
          CREATE KEYSPACE IF NOT EXISTS walnuk
              WITH replication = {'class': 'NetworkTopologyStrategy', 'iwakura': '3'}
              AND tablets = {'enabled': false};
          CREATE ROLE IF NOT EXISTS 'walnuk'
              WITH PASSWORD = '{{ .walnuk_password }}'
              AND SUPERUSER = false
              AND LOGIN = true;
          GRANT ALL PERMISSIONS ON KEYSPACE walnuk TO 'walnuk';


          CREATE KEYSPACE IF NOT EXISTS seaweedfs
              WITH replication = {'class': 'NetworkTopologyStrategy', 'iwakura': '3'}
              AND tablets = {'enabled': false};
          CREATE ROLE IF NOT EXISTS 'seaweedfs'
              WITH PASSWORD = '{{ .seaweedfs_password }}'
              AND SUPERUSER = false
              AND LOGIN = true;
          GRANT ALL PERMISSIONS ON KEYSPACE seaweedfs TO 'seaweedfs';
          CREATE TABLE seaweedfs.filemeta (
              dirhash bigint,
              directory varchar,
              name varchar,
              meta blob,
          PRIMARY KEY ((dirhash, directory), name)
          ) WITH CLUSTERING ORDER BY (name ASC);
      engineVersion: v2
      type: Opaque
