apiVersion: v1
kind: Secret
metadata:
  name: longhorn-backupstore-credential
  namespace: longhorn-system
data:
  credentials: {{ printf "[default]\naws_access_key_id = %s\naws_secret_access_key = %s\n" .velero_accessKey .velero_secretKey | b64enc }}
type: Opaque
