vmselect:
  enabled: true
  mode: deployment
  replicaCount: 1
  horizontalPodAutoscaler:
    enabled: true
    minReplicas: 1
    maxReplicas: 5
    metrics:
    - resource:
        name: memory
        target:
          averageUtilization: 100
          type: Utilization
      type: Resource
  resources:
    requests:
      cpu: 5m
      memory: 32Mi
    limits:
      cpu: "1"
      memory: 1Gi
  serviceMonitor:
    enabled: true

vminsert:
  enabled: true
  mode: deployment
  replicaCount: 1
  horizontalPodAutoscaler:
    enabled: true
    minReplicas: 1
    maxReplicas: 5
    metrics:
    - resource:
        name: memory
        target:
          averageUtilization: 100
          type: Utilization
      type: Resource
  resources:
    requests:
      cpu: 150m
      memory: 652Mi
    limits:
      cpu: "2"
      memory: 2Gi
  serviceMonitor:
    enabled: true
  extraArgs:
    envflag.enable: true
    envflag.prefix: VM_
    loggerFormat: json
    httpListenAddr: :8480
    opentelemetry.usePrometheusNaming: true

vmstorage:
  enabled: true
  replicaCount: 2
  retentionPeriod: 1y
  persistentVolume:
    enabled: true
    storageClassName: "local-path"
    size: 10Gi
  resources:
    requests:
      cpu: 120m
      memory: 800Mi
    limits:
      cpu: "1"
      memory: 1Gi
  topologySpreadConstraints:
  - maxSkew: 1
    topologyKey: 'kubernetes.io/hostname'
    whenUnsatisfiable: 'ScheduleAnyway'
    labelSelector:
      matchLabels:
        app: vmstorage
        app.kubernetes.io/instance: victoria-metrics
        app.kubernetes.io/name: victoria-metrics-cluster
  serviceMonitor:
    enabled: true
