apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: longhorn-backup-validate
  namespace: longhorn-backup-validate
rules:
  - apiGroups:
      - addons.cluster.x-k8s.io
    resources:
      - clusterresourcesets
      - helmchartproxies
    verbs:
      - get
      - list
      - watch
      - create
      - patch
      - update
      - delete
  - apiGroups:
      - cluster.x-k8s.io
    resources:
      - clusters
      - machinedeployments
      - machinehealthchecks
    verbs:
      - get
      - list
      - watch
      - create
      - patch
      - update
      - delete
  - apiGroups:
      - external-secrets.io
    resources:
      - externalsecrets
    verbs:
      - get
      - list
      - watch
      - create
      - patch
      - update
      - delete
  - apiGroups:
      - ""
    resources:
      - secrets
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - infrastructure.cluster.x-k8s.io
    resources:
      - kubevirtclusters
    verbs:
      - get
      - list
      - watch
      - create
      - patch
      - update
      - delete
  - apiGroups:
      - controlplane.cluster.x-k8s.io
    resources:
      - taloscontrolplanes
    verbs:
      - get
      - list
      - watch
      - create
      - patch
      - update
      - delete
