# Scylla Manager log level, allowed values are: error, warn, info, debug, trace
logLevel: info
resources:
  requests:
    cpu: 10m
    memory: 20Mi
serviceAccount:
  create: true
  name: ""
scylla:
  developerMode: true
  datacenter: iwakura
  racks:
  - name: iwakura-a
    members: 1
    storage:
      capacity: 5Gi
      storageClassName: local-path
    resources:
      requests:
        cpu: 100m
        memory: 128Mi
      limits:
        cpu: 1
        memory: 1Gi
    placement:
      nodeAffinity: {}
      tolerations: []
serviceMonitor:
  create: true
