apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: base-berry
  namespace: argocd
spec:
  project: default
  destination:
    namespace: argocd
    server: https://kubernetes.default.svc
  sources:
  - path: k8s/_argocd/applications/berry
    repoURL: 'https://github.com/walnuts1018/infra'
    targetRevision: clusterapi # TODO
  - path: k8s/_argocd/clusters/berry
    repoURL: 'https://github.com/walnuts1018/infra'
    targetRevision: clusterapi # TODO
  syncPolicy:
    automated:
      selfHeal: true
      prune: true
    syncOptions:
    - ServerSideApply=true
    - FailOnSharedResource=true
