apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
    labels:
        app: zitadel
        app.kubernetes.io/name: zitadel
    name: zitadel
    namespace: zitadel
spec:
    data:
        - remoteRef:
            key: zitadel
            property: masterkey
          secretKey: masterkey
        - remoteRef:
            key: postgres_passwords
            property: postgres
          secretKey: postgresdbpassword
        - remoteRef:
            key: postgres_passwords
            property: zitadel
          secretKey: zitadeldbpassword
    refreshInterval: 1m
    secretStoreRef:
        kind: ClusterSecretStore
        name: onepassword
    target:
        name: zitadel
        template:
            data:
                masterkey: '{{ .masterkey }}'
                postgres: '{{ .postgresdbpassword }}'
            engineVersion: v2
            templateFrom:
                - configMap:
                    items:
                        - key: config.yaml
                          templateAs: Values
                    name: zitadel-config
                  target: Data
            type: Opaque

---
