apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: longhorn-oauth2-proxy
  namespace: longhorn-system
spec:
  hostnames:
    - longhorn.walnuts.dev
  parentRefs:
    - name: pomerium-gateway
      namespace: pomerium
  rules:
    - backendRefs:
        - kind: Service
          name: longhorn-frontend
          port: 80
          weight: 1
      filters:
        - extensionRef:
            group: gateway.pomerium.io
            kind: PolicyFilter
            name: longhorn-oauth2-proxy
          type: ExtensionRef
