apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: openchokin-back
spec:
  ingressClassName: "nginx"
  rules:
  - host: "api-openchokin.walnuts.dev"
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: "openchokin-back"
            port:
              number: 8080
