apiVersion: kubevirt.io/v1
kind: KubeVirt
metadata:
  name: kubevirt
  namespace: kubevirt
spec:
  customizeComponents:
    patches:
    - resourceType: Deployment
      resourceName: virt-api
      patch: '[{"op": "replace", "path": "/spec/template/spec/containers/0/resources", "value": {"requests": {"cpu": "5m", "memory": "200Mi"}, "limits": {"cpu": "1", "memory": "1Gi"}}}]'
      type: json
    - resourceType: Deployment
      resourceName: virt-controller
      patch: '[{"op": "replace", "path": "/spec/template/spec/containers/0/resources", "value": {"requests": {"cpu": "3m", "memory": "128Mi"}, "limits": {"cpu": "1", "memory": "1Gi"}}}]'
      type: json
