connectors:
- config:
    clientID: "349881633530249634"
    clientSecret: "{{ .clientSecret }}"
    insecureEnableGroups: true
    issuer: https://auth.walnuts.dev
    redirectURI: https://terrakube-api.walnuts.dev/dex/callback
    # getUserInfo: true
    userNameKey: preferred_username
    scopes:
    - profile
    - email
    claimMapping:
      groups: "my:zitadel:grants"
    allowedGroups:
    - 237477822715658605:admin

    promptType: select_account # https://zitadel.com/docs/apis/openidoauth/endpoints#:~:text=implicit%20flow.-,prompt,-If%20the%20Auth
  id: TerrakubeClient
  name: TerrakubeClient
  type: oidc
issuer: https://terrakube-api.walnuts.dev/dex
oauth2:
  responseTypes:
  - code
  - token
  - id_token
staticClients:
- id: terrakube-ui
  name: terrakube-ui
  public: true
  redirectURIs:
  - https://terrakube.walnuts.dev
  - /device/callback
storage:
  type: postgres
  config:
    host: postgresql-default-rw.databases.svc.cluster.local
    port: 5432
    database: terrakube_dex
    user: terrakube_dex
    password: "{{ .postgresPassword }}"
    ssl:
      mode: disable
web:
  allowedOrigins:
  - '*'
  http: 0.0.0.0:5556
  skipApprovalScreen: true
