apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: minio-biscuit-backup-trigger
  namespace: minio
rules:
  - apiGroups:
      - batch
    resources:
      - jobs
      - cronjobs
    verbs:
      - get
      - list
      - watch
