---
# Source: scylla-manager/templates/manager_networkpolicy.yaml
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  namespace: scylla-manager
  name: scylla-manager-to-scylla-pod
spec:
  policyTypes:
  - Ingress
  podSelector:
    matchLabels:
      app.kubernetes.io/managed-by: scylla-operator
      app.kubernetes.io/name: scylla
  ingress:
  - from:
    - namespaceSelector:
        matchLabels:
          kubernetes.io/metadata.name: scylla-manager
---
# Source: scylla-manager/templates/manager_serviceaccount.yaml
apiVersion: v1
kind: ServiceAccount
metadata:
  name: scylla-manager
  namespace: scylla-manager
  labels:
    app.kubernetes.io/name: scylla-manager
    app.kubernetes.io/instance: scylla-manager
---
# Source: scylla-manager/templates/manager_configmap.yaml
apiVersion: v1
kind: ConfigMap
metadata:
  name: scylla-manager-config
  namespace: scylla-manager
data:
  scylla-manager.yaml: |-
    http: :5080
    logger:
      level: info
    database:
      hosts:
      - scylla-manager-iwakura-iwakura-a-0
---
# Source: scylla-manager/templates/manager_service.yaml
apiVersion: v1
kind: Service
metadata:
  labels:
    app.kubernetes.io/name: scylla-manager
    app.kubernetes.io/instance: scylla-manager
  name: scylla-manager
  namespace: scylla-manager
spec:
  ports:
  - name: api
    port: 80
    protocol: TCP
    targetPort: 5080
  - name: metrics
    port: 5090
    protocol: TCP
    targetPort: 5090
  selector:
    app.kubernetes.io/name: scylla-manager
    app.kubernetes.io/instance: scylla-manager
---
# Source: scylla-manager/templates/manager_deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: scylla-manager
  namespace: scylla-manager
  labels:
    app.kubernetes.io/name: scylla-manager
    app.kubernetes.io/instance: scylla-manager
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: scylla-manager
      app.kubernetes.io/instance: scylla-manager
  strategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        app.kubernetes.io/name: scylla-manager
        app.kubernetes.io/instance: scylla-manager
    spec:
      serviceAccountName: scylla-manager
      containers:
      - name: scylla-manager
        image: scylladb/scylla-manager:3.8.0@sha256:cd38015babbc96c0d98084378991acf44cee3c1841173da365423549cdffd1e3
        imagePullPolicy: IfNotPresent
        command:
        - /usr/bin/scylla-manager
        args:
        - --config-file=/mnt/etc/scylla-manager/scylla-manager.yaml
        resources:
          requests:
            cpu: 10m
            memory: 20Mi
        volumeMounts:
        - mountPath: /mnt/etc/scylla-manager
          name: scylla-manager-config
        readinessProbe:
          httpGet:
            path: /api/v1/clusters
            port: 5080
          periodSeconds: 10
          timeoutSeconds: 3
      volumes:
      - configMap:
          name: scylla-manager-config
        name: scylla-manager-config
---
# Source: scylla-manager/charts/scylla/templates/scyllacluster.yaml
apiVersion: scylla.scylladb.com/v1
kind: ScyllaCluster
metadata:
  name: scylla-manager
  namespace: scylla-manager
  annotations:
    scylla-operator.scylladb.com/disable-global-scylladb-manager-integration: "true"
spec:
  version: 2025.4.3
  agentVersion: 3.8.0@sha256:2fb6552788d112c1c008f8de27f8abeba12e3a067d58a5260eaea477ef7ddaf2
  repository: scylladb/scylla
  agentRepository: scylladb/scylla-manager-agent
  developerMode: true
  datacenter:
    name: iwakura
    racks:
    - members: 1
      name: iwakura-a
      placement:
        nodeAffinity: {}
        tolerations: []
      resources:
        limits:
          cpu: 1
          memory: 1Gi
        requests:
          cpu: 100m
          memory: 128Mi
      storage:
        capacity: 5Gi
        storageClassName: local-path
---
# Source: scylla-manager/templates/manager_servicemonitor.yaml
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: scylla-manager
  namespace: scylla-manager
spec:
  jobLabel: "app"
  selector:
    matchLabels:
      app.kubernetes.io/name: scylla-manager
      app.kubernetes.io/instance: scylla-manager
  endpoints:
  - port: metrics
    metricRelabelings:
    - sourceLabels: [ host ]
      targetLabel: instance
      regex: (.*)
      replacement: ${1}
