apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  labels:
    app: pomerium-controller
    app.kubernetes.io/name: pomerium-controller
  name: pomerium-controller
  namespace: pomerium
spec:
  endpoints:
    - interval: 15s
      path: /metrics
      port: metrics
      scheme: http
  selector:
    matchLabels:
      app.kubernetes.io/name: pomerium
      role: metrics
