apiVersion: v1
kind: Service
metadata:
  name: oekaki-dengon-game-back
  labels:
    app: oekaki-dengon-game-back
spec:
  ports:
  - name: http
    port: 8080
    targetPort: 8080
  selector:
    app: oekaki-dengon-game-back
  type: ClusterIP
