apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
kind: Kustomization
metadata:
  name: image-update
  namespace: flux-system
spec:
  interval: 10m0s
  path: ./k8s/_flux/image-update
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
