apiVersion: image.toolkit.fluxcd.io/v1beta2
kind: ImageUpdateAutomation
metadata:
  name: wakatime-to-slack-profile
spec:
  git:
    checkout:
      ref:
        branch: main
    commit:
      author:
        email: fluxcdbot@users.noreply.github.com
        name: fluxcdbot
      messageTemplate: "{{range .Updated.Images}}{{println .}}{{end}}"
    push:
      branch: fluxcd/wakatime-to-slack-profile
  interval: 1m0s
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  update:
    path: ./k8s/apps/wakatime-to-slack-profile
    strategy: Setters
---
apiVersion: image.toolkit.fluxcd.io/v1beta2
kind: ImageRepository
metadata:
  name: wakatime-to-slack-profile
spec:
  image: ghcr.io/walnuts1018/wakatime-to-slack-profile
  interval: 2m0s
  secretRef:
    name: ghcr-login-secret
---
apiVersion: image.toolkit.fluxcd.io/v1beta2
kind: ImagePolicy
metadata:
  name: wakatime-to-slack-profile
spec:
  imageRepositoryRef:
    name: wakatime-to-slack-profile
  policy:
    semver:
      range: ">=0.0.0"
