kubectl:
  image:
    repository: docker.io/bitnamilegacy/kubectl
    tag: 1.33.4

initContainers:
- name: velero-plugin-for-aws
  image: velero/velero-plugin-for-aws:v1.13.1
  volumeMounts:
  - mountPath: /target
    name: plugins
configuration:
  features: EnableCSI
  # logLevel: debug
  backupStorageLocation:
  - name: minio-biscuit
    provider: aws
    bucket: velero-backup
    config:
      s3Url: https://minio-biscuit.local.walnuts.dev/
      region: ap-northeast-1
      s3ForcePathStyle: "true"
    credential:
      name: velero-minio-biscuit-credential
      key: credentials
  volumeSnapshotLocation:
  - name: minio-biscuit
    provider: aws
    config:
      s3Url: https://minio-biscuit.local.walnuts.dev/
      region: ap-northeast-1
      s3ForcePathStyle: "true"
    credential:
      name: velero-minio-biscuit-credential
      key: credentials
