apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: openchokin-front
spec:
  ingressClassName: "nginx"
  rules:
  - host: "openchokin.walnuts.dev"
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: "openchokin-front"
            port:
              number: 3000
