apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: trust-manager-helm
  namespace: argocd
spec:
  destination:
    namespace: cert-manager
    server: https://kubernetes.default.svc
  project: default
  source:
    chart: trust-manager
    helm:
      releaseName: trust-manager
      valuesObject:
        app:
          metrics:
            service:
              servicemonitor:
                enabled: true
        resources:
          limits:
            cpu: 100m
            memory: 128Mi
          requests:
            cpu: 2m
            memory: 27Mi
    repoURL: https://charts.jetstack.io
    targetRevision: v0.21.1
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - ServerSideApply=true
      - FailOnSharedResource=true
