apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: proxmox-cert
spec:
  secretStoreRef:
    name: vault-secretstore
    kind: ClusterSecretStore
  refreshInterval: 1m
  target:
    name: proxmox-cert
  data:
  - secretKey: pve-ssl.key
    remoteRef:
      key: pve
      property: pve-ssl.key
  - secretKey: pve-ssl.pem
    remoteRef:
      key: pve
      property: pve-ssl.pem
