---
apiVersion: source.toolkit.fluxcd.io/v1beta1
kind: HelmRepository
metadata:
  name: redis
spec:
  url: https://charts.bitnami.com/bitnami
---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: redis
spec:
  chart:
    spec:
      chart: redis
      version: 18.17.0
  values:
    auth:
      sentinel: true
      existingSecret: "redis"
      existingSecretPasswordKey: "redis-password"
    master:
      count: 1
      kind: StatefulSet
      persistence:
        enabled: true
        storageClass: "longhorn"
        size: 512Mi
      service:
        type: LoadBalancer
        ports:
          redis: 6379
      resources:
        requests:
          cpu: 30m
          memory: 10Mi
        limits:
          cpu: 200m
          memory: 100Mi
      serviceAccount:
        create: false

    replica:
      replicaCount: 3
      persistence:
        enabled: true
        storageClass: "longhorn"
        size: 512Mi
      service:
        type: ClusterIP
        ports:
          redis: 6379
      resources:
        requests:
          cpu: 30m
          memory: 10Mi
        limits:
          cpu: 200m
          memory: 100Mi
      serviceAccount:
        create: false

    sentinel:
      enabled: true
      masterSet: mymaster
      quorum: 2
      persistence:
        enabled: true
        storageClass: "longhorn"
        size: 100Mi
      service:
        type: ClusterIP

    serviceAccount:
      create: true
