apiVersion: v1
kind: Secret
metadata:
  name: longhorn-backupstore-credential
  namespace: longhorn-system
data:
  AWS_ACCESS_KEY_ID: {{ "abaQ84KgJMyEtxZzW3RW" | b64enc }}
  AWS_ENDPOINTS: {{ "https://minio-biscuit.local.walnuts.dev/" | b64enc }}
  AWS_SECRET_ACCESS_KEY: {{ .minio_biscuit_secret_key | b64enc }}
type: Opaque
