apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: hedgedoc
  annotations:
    nginx.ingress.kubernetes.io/proxy-body-size: 100M
spec:
  ingressClassName: "nginx"
  rules:
  - host: "hedgedoc.walnuts.dev"
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: hedgedoc
            port:
              number: 3000
