name: "terrakube"

security:
  useOpenLDAP: false
  adminGroup: "349881613179420909:admin"
  patSecret: "to-be-replaced"
  internalSecret: "to-be-replaced"
  dexClientId: "terrakube-ui"
  dexIssuerUri: "https://terrakube-api.walnuts.dev/dex"

dex:
  enabled: true
  existingSecret: true
  configSecret:
    create: false
  config:
    issuer: "https://terrakube-api.walnuts.dev/dex" # 外部のSecretですでに設定されているが、terrakube-api-secretsなどで参照されているので埋めておく

storage:
  defaultStorage: false
  aws:
    accessKey: "dummy"
    secretKey: "dummy"
    bucketName: "terrakube"
    region: "ap-northeast-1"

api:
  enabled: true
  replicaCount: "1"
  dynamicCredentials:
    enabled: false
    publicKey: ""
    publicKeyPath: "/etc/terrakube/credentials/public-key.pem"
    privateKey: ""
    privateKeyPath: "/etc/terrakube/credentials/private-key.pem"
  resources:
    requests:
      cpu: 500m
      memory: 1Gi
    limits:
      cpu: 1
      memory: 2Gi
  startupProbe:
    failureThreshold: 30
    periodSeconds: 10
  defaultDatabase: false
  defaultRedis: false
  loadSampleData: false
  serviceAccountName: "terrakube-api"
  properties:
    databaseType: "POSTGRESQL"
    databaseHostname: "postgresql-default-rw.databases.svc.cluster.local"
    databaseName: "terrakube"
    databaseUser: "terrakube"
    databaseSchema: "public"
    databasePassword: "to-be-replaced"
    databaseSslMode: "disable"
    databasePort: "5432"
    redisHostname: "terrakube-redis"
    redisPassword: "to-be-replaced"
    redisPort: "6379"
  volumeMounts:
  - name: 'minio-sts-token'
    mountPath: '/var/run/secrets/sts.min.io/serviceaccount'
    readOnly: true
  - name: 'local-ca-bundle'
    mountPath: '/etc/ssl/certs/trust-bundle.pem'
    subPath: 'trust-bundle.pem'
    readOnly: true
  volumes:
  - name: minio-sts-token
    projected:
      sources:
      - serviceAccountToken:
          audience: 'sts.min.io'
          path: token
          expirationSeconds: 86400
  - name: local-ca-bundle
    configMap:
      name: local-ca-bundle
  env:
  - name: OTEL_JAVAAGENT_ENABLE
    value: 'true'
  - name: OTEL_SERVICE_NAME
    value: 'terrakube-api'
  - name: OTEL_EXPORTER_OTLP_ENDPOINT
    value: 'http://default-collector.opentelemetry-collector.svc.cluster.local:4317'
  - name: OTEL_EXPORTER_OTLP_INSECURE
    value: 'true'
  - name: AwsEnableRoleAuth
    value: "true"
  - name: AWS_CA_BUNDLE
    value: /etc/ssl/certs/trust-bundle.pem
  - name: AWS_WEB_IDENTITY_TOKEN_FILE
    value: /var/run/secrets/sts.min.io/serviceaccount/token
  - name: AWS_ENDPOINT_URL_STS
    value: https://sts-minio.local.walnuts.dev/sts/minio
  - name: AWS_ENDPOINT_URL_S3
    value: http://minio.minio.svc.cluster.local
  - name: AWS_REGION
    value: ap-northeast-1
  - name: AWS_ROLE_ARN
    value: arn:aws:iam::dummy:role/terrakube-api

executor:
  enabled: true
  replicaCount: "1"
  resources:
    requests:
      cpu: 100m
      memory: 144Mi
    limits:
      cpu: 1
      memory: 1Gi
  serviceAccountName: "terrakube-executor"
  volumeMounts:
  - name: 'minio-sts-token'
    mountPath: '/var/run/secrets/sts.min.io/serviceaccount'
    readOnly: true
  - name: 'local-ca-bundle'
    mountPath: '/etc/ssl/certs/trust-bundle.pem'
    subPath: 'trust-bundle.pem'
    readOnly: true
  volumes:
  - name: minio-sts-token
    projected:
      sources:
      - serviceAccountToken:
          audience: 'sts.min.io'
          path: token
          expirationSeconds: 86400
  - name: local-ca-bundle
    configMap:
      name: local-ca-bundle
  env:
  - name: OTEL_JAVAAGENT_ENABLE
    value: 'true'
  - name: OTEL_SERVICE_NAME
    value: 'terrakube-executor'
  - name: OTEL_EXPORTER_OTLP_ENDPOINT
    value: 'http://default-collector.opentelemetry-collector.svc.cluster.local:4317'
  - name: OTEL_EXPORTER_OTLP_INSECURE
    value: 'true'
  - name: AwsIncludeBackendKeys
    value: "false"
  - name: AwsEnableRoleAuth
    value: "true"
  - name: AWS_CA_BUNDLE
    value: /etc/ssl/certs/trust-bundle.pem
  - name: AWS_WEB_IDENTITY_TOKEN_FILE
    value: /var/run/secrets/sts.min.io/serviceaccount/token
  - name: AWS_ENDPOINT_URL_STS
    value: https://sts-minio.local.walnuts.dev/sts/minio
  - name: AWS_ENDPOINT_URL_S3
    value: http://minio.minio.svc.cluster.local
  - name: AWS_REGION
    value: ap-northeast-1
  - name: AWS_ROLE_ARN
    value: arn:aws:iam::dummy:role/terrakube-executor

registry:
  enabled: true
  replicaCount: "1"
  resources:
    requests:
      cpu: 250m
      memory: 256Mi
    limits:
      cpu: 500m
      memory: 1Gi
  serviceAccountName: "terrakube-registry"
  volumeMounts:
  - name: 'minio-sts-token'
    mountPath: '/var/run/secrets/sts.min.io/serviceaccount'
    readOnly: true
  - name: 'local-ca-bundle'
    mountPath: '/etc/ssl/certs/trust-bundle.pem'
    subPath: 'trust-bundle.pem'
    readOnly: true
  volumes:
  - name: minio-sts-token
    projected:
      sources:
      - serviceAccountToken:
          audience: 'sts.min.io'
          path: token
          expirationSeconds: 86400
  - name: local-ca-bundle
    configMap:
      name: local-ca-bundle
  env:
  - name: OTEL_JAVAAGENT_ENABLE
    value: 'true'
  - name: OTEL_SERVICE_NAME
    value: 'terrakube-registry'
  - name: OTEL_EXPORTER_OTLP_ENDPOINT
    value: 'http://default-collector.opentelemetry-collector.svc.cluster.local:4317'
  - name: OTEL_EXPORTER_OTLP_INSECURE
    value: 'true'
  - name: AwsEnableRoleAuth
    value: "true"
  - name: AWS_CA_BUNDLE
    value: /etc/ssl/certs/trust-bundle.pem
  - name: AWS_WEB_IDENTITY_TOKEN_FILE
    value: /var/run/secrets/sts.min.io/serviceaccount/token
  - name: AWS_ENDPOINT_URL_STS
    value: https://sts-minio.local.walnuts.dev/sts/minio
  - name: AWS_ENDPOINT_URL_S3
    value: http://minio.minio.svc.cluster.local
  - name: AWS_REGION
    value: ap-northeast-1
  - name: AWS_ROLE_ARN
    value: arn:aws:iam::dummy:role/terrakube-registry

ui:
  enabled: true
  replicaCount: "1"
  resources:
    requests:
      cpu: 1m
      memory: 10Mi
    limits:
      cpu: 100m
      memory: 256Mi
  serviceAccountName: "terrakube-ui"

# ingress:
#   useTls: false
#   includeTlsHosts: true
#   controller: "gatewayapi"

#   gatewayapi:
#     enabled: true
#     gateways:
#     - name: "envoy-gateway"
#       namespace: "envoy-gateway-system"

#   ui:
#     enabled: true
#     domain: "terrakube.walnuts.dev"
#     ingressClassName: "gateway"
#     useTls: false

#   api:
#     enabled: true
#     domain: "terrakube-api.walnuts.dev"
#     ingressClassName: "gateway"
#     useTls: false

#   registry:
#     enabled: true
#     domain: "terrakube-reg.walnuts.dev"
#     ingressClassName: "gateway"
#     useTls: false

#   dex:
#     enabled: true

#   executor:
#     enabled: false
#     domain: "terrakube-executor.walnuts.dev"
#     ingressClassName: "gateway"
#     useTls: false


ingress:
  useTls: true # 外部（Cloudflare）でTLS終端するのでtrue、環境変数などに影響する
  includeTlsHosts: true
  controller: "generic"

  ui:
    enabled: true
    domain: "terrakube.walnuts.dev"
    ingressClassName: "cilium"
    useTls: false

  api:
    enabled: true
    domain: "terrakube-api.walnuts.dev"
    ingressClassName: "cilium"
    useTls: false

  registry:
    enabled: true
    domain: "terrakube-reg.walnuts.dev"
    ingressClassName: "cilium"
    useTls: false

  dex:
    enabled: true

  executor:
    enabled: false
    domain: "terrakube-executor.walnuts.dev"
    ingressClassName: "cilium"
    useTls: false
