apiVersion: apps/v1
kind: Deployment
metadata:
  name: oekaki-dengon-game-front
  labels:
    app: oekaki-dengon-game-front
spec:
  replicas: 1
  selector:
    matchLabels:
      app: oekaki-dengon-game-front
  template:
    metadata:
      labels:
        app: oekaki-dengon-game-front
    spec:
      imagePullSecrets:
        - name: regcred
      containers:
        - name: oekaki-dengon-game-front
          image: ghcr.io/kmc-jp/oekaki-dengon-game-front:v0.0.0-5e6c7e7aab15f5449d0c509cd11299a2c692ac9e-84 # {"$imagepolicy": "default:oekaki-dengon-game-front"}
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 3000
          env:
            - name: API_URL
              value: "http://oekaki-dengon-game-back.default.svc.cluster.local:8080/api"
          resources:
            limits:
              cpu: 1000m
              memory: 512Mi
            requests:
              cpu: 1m
              memory: 20Mi
      nodeSelector:
        kubernetes.io/arch: amd64
