apiVersion: v1
kind: Service
metadata:
  name: oekaki-dengon-game-front
  labels:
    app: oekaki-dengon-game-front
spec:
  ports:
  - name: http
    port: 3000
    targetPort: 3000
  selector:
    app: oekaki-dengon-game-front
  type: ClusterIP
