apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: external-secrets-helm
  namespace: argocd
spec:
  destination:
    namespace: external-secrets
    server: https://kubernetes.default.svc
  project: default
  source:
    chart: external-secrets
    helm:
      releaseName: external-secrets
      values: |
        resources:
          requests:
            cpu: 25m
            memory: 64Mi

        webhook:
          resources:
            requests:
              cpu: 1m
              memory: 32Mi

        certController:
          resources:
            requests:
              cpu: 1m
              memory: 42Mi

        tolerations:
        - key: "node.walnuts.dev/low-performance"
          operator: "Exists"
    repoURL: https://charts.external-secrets.io
    targetRevision: 2.0.1
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - ServerSideApply=true
      - FailOnSharedResource=true
