deschedulerPolicy:
  profiles:
  - name: default
    plugins:
      balance:
        enabled:
        - RemoveDuplicates
        - RemovePodsViolatingTopologySpreadConstraint
        - LowNodeUtilization
      deschedule:
        enabled:
        - RemovePodsViolatingInterPodAntiAffinity
        - RemovePodsViolatingNodeAffinity
        - RemovePodsViolatingNodeTaints
        - RemovePodsHavingTooManyRestarts
    pluginConfig:
    - name: DefaultEvictor
      args:
        ignorePvcPods: true
        evictLocalStoragePods: true
    - name: RemoveDuplicates
    - name: RemovePodsViolatingTopologySpreadConstraint
      args:
        constraints:
        - ScheduleAnyway
    - name: LowNodeUtilization
      args:
        useDeviationThresholds: true
        thresholds:
          cpu: 60
          memory: 75
          pods: 90
        targetThresholds:
          cpu: 80
          memory: 80
          pods: 95
    - name: RemovePodsViolatingInterPodAntiAffinity
    - name: RemovePodsViolatingNodeAffinity
      args:
        nodeAffinityType:
        - requiredDuringSchedulingIgnoredDuringExecution
        - preferredDuringSchedulingIgnoredDuringExecution
    - name: RemovePodsViolatingNodeTaints
    - name: RemovePodsHavingTooManyRestarts
      args:
        podRestartThreshold: 100
        includingInitContainers: true
