# comma separated list of namespaces (or glob patterns)
excludeNamespaces: "kube-system"

trivy:
  resources:
    requests:
      cpu: 100m
      memory: 100Mi
    limits:
      cpu: 500m
      memory: 500Mi
  server:
    resources:
      requests:
        cpu: 200m
        memory: 512Mi
      limits:
        cpu: "1"
        memory: 1Gi
  ignoreUnfixed: true

operator:
  privateRegistryScanSecretsNames:
    trivy-system: ghcr-login-secret
  vulnerabilityScannerEnabled: false
  metricsFindingsEnabled: true
  metricsVulnIdEnabled: true
  metricsExposedSecretInfo: true
  metricsConfigAuditInfo: true
  metricsRbacAssessmentInfo: true
  metricsInfraAssessmentInfo: true
  metricsImageInfo: true
  metricsClusterComplianceInfo: true

resources:
  requests:
    cpu: 200m
    memory: 261Mi
  limits:
    cpu: 500m
    memory: 512Mi

serviceMonitor:
  enabled: true

nodeCollector:
  tolerations:
  - operator: "Exists"
