# comma separated list of namespaces (or glob patterns)
excludeNamespaces: "kube-system"

imagePullSecrets:
- name: ghcr-login-secret

trivy:
  resources:
    requests:
      cpu: 100m
      memory: 100Mi
    limits:
      cpu: 500m
      memory: 500Mi
  server:
    resources:
      requests:
        cpu: 200m
        memory: 512Mi
      limits:
        cpu: "1"
        memory: 1Gi

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 200m
    memory: 512Mi

serviceMonitor:
  enabled: true

nodeCollector:
  tolerations:
  - operator: "Exists"
