apiVersion: apps/v1
kind: Deployment
metadata:
  name: walnuts-dev
  labels:
    app: walnuts-dev
spec:
  replicas: 1
  selector:
    matchLabels:
      app: walnuts-dev
  template:
    metadata:
      labels:
        app: walnuts-dev
    spec:
      containers:
        - name: walnuts-dev
          image: ghcr.io/walnuts1018/walnuts.dev:81182323295fec09f453bd655c2d5bb7506fe19a-206 # {"$imagepolicy": "default:walnuts-dev"}
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 3000
          resources:
            limits: {}
            requests: {}
          env:
            - name: NEXT_PUBLIC_GA_ID
              value: G-NB6F68ZQ9P
