apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: samba-secret
spec:
  secretStoreRef:
    name: vault-secretstore
    kind: ClusterSecretStore
  refreshInterval: 1m
  target:
    name: samba-secret
  data:
  - secretKey: account-samba
    remoteRef:
      key: samba
      property: password
