apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: samba
  namespace: samba
spec:
  ingress:
    - from:
        - ipBlock:
            cidr: 0.0.0.0/0
            except:
              - 192.168.0.0/16
        - namespaceSelector:
            matchLabels:
              kubernetes.io/metadata.name: kube-system
          podSelector:
            matchLabels:
              k8s-app: kube-dns
  podSelector:
    matchLabels:
      app: samba
      app.kubernetes.io/name: samba
  policyTypes:
    - Ingress
