apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: mcs-api-kustomize
  namespace: argocd
spec:
  destination:
    namespace: kube-system
    server: https://kubernetes.default.svc
  project: default
  source:
    path: k8s/apps/mcs-api/_kustomize
    repoURL: https://github.com/walnuts1018/infra
    targetRevision: main
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
