apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: opentelemetry-operator-helm
  namespace: argocd
spec:
  destination:
    namespace: opentelemetry-operator-system
    server: https://kubernetes.default.svc
  project: default
  source:
    chart: opentelemetry-operator
    helm:
      releaseName: opentelemetry-operator
      values: |
        manager:
          collectorImage:
            repository: "ghcr.io/open-telemetry/opentelemetry-collector-releases/opentelemetry-collector-contrib"
          extraArgs:
          - --enable-go-instrumentation=true
          - --enable-nginx-instrumentation=true
          resources:
            requests:
              cpu: 3m
              memory: 81Mi
            limits:
              cpu: 200m
              memory: 128Mi

        tolerations:
        - key: "node.walnuts.dev/low-performance"
          operator: "Exists"
    repoURL: https://open-telemetry.github.io/opentelemetry-helm-charts
    targetRevision: 0.106.0
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - ServerSideApply=true
      - FailOnSharedResource=true
