apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: misskey
    app.kubernetes.io/name: misskey
  name: misskey
  namespace: misskey
spec:
  replicas: 1
  selector:
    matchLabels:
      app: misskey
      app.kubernetes.io/name: misskey
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: misskey
        app.kubernetes.io/name: misskey
    spec:
      containers:
        - env:
            - name: POSTGRES_USER
              value: misskey
            - name: POSTGRES_DB
              value: misskey
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  key: dbPassword
                  name: misskey-257bfe
          image: misskey/misskey:2025.12.2
          imagePullPolicy: IfNotPresent
          livenessProbe:
            httpGet:
              path: /healthz
              port: 3000
            initialDelaySeconds: 3
            periodSeconds: 3
          name: misskey
          ports:
            - containerPort: 3000
          resources:
            limits:
              cpu: "1"
              memory: 2Gi
            requests:
              cpu: 96m
              memory: 512Mi
          securityContext:
            capabilities:
              add:
                - NET_BIND_SERVICE
              drop:
                - all
            readOnlyRootFilesystem: false
            seccompProfile:
              type: RuntimeDefault
          startupProbe:
            failureThreshold: 30
            httpGet:
              path: /healthz
              port: 3000
            periodSeconds: 10
          volumeMounts:
            - mountPath: /misskey/files
              name: misskey-files
            - mountPath: /misskey/.config
              name: misskey-config
              readOnly: true
            - mountPath: /tmp
              name: tmp
      initContainers:
        - command:
            - pnpm
            - run
            - init
          image: misskey/misskey:2025.12.2
          imagePullPolicy: IfNotPresent
          name: misskey-init
          securityContext:
            capabilities:
              add:
                - NET_BIND_SERVICE
              drop:
                - all
            readOnlyRootFilesystem: false
            seccompProfile:
              type: RuntimeDefault
          volumeMounts:
            - mountPath: /misskey/files
              name: misskey-files
            - mountPath: /misskey/.config
              name: misskey-config
              readOnly: true
      securityContext:
        fsGroup: 991
        fsGroupChangePolicy: OnRootMismatch
      tolerations:
        - key: node.walnuts.dev/untrusted
          operator: Exists
      volumes:
        - name: misskey-config
          secret:
            secretName: misskey-257bfe
        - emptyDir: {}
          name: tmp
        - emptyDir: {}
          name: misskey-files
