apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: misskey
  annotations:
    nginx.ingress.kubernetes.io/proxy-body-size: 1G
spec:
  ingressClassName: "nginx"
  rules:
  - host: "misskey.walnuts.dev"
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: "misskey"
            port:
              number: 80
