apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: misskey
resources:
- deployment.yaml
- service.yaml
- pvc.yaml
- externalsecret.yaml
- ingress.yaml
- image-policy.yaml
configMapGenerator:
- name: misskey-config
  files:
  - default.yml
generatorOptions:
  disableNameSuffixHash: true
components:
- ../../components/deployment-with-vpa
