kind: Service
apiVersion: v1
metadata:
  name: walnuts-dev-www-redirect
spec:
  selector:
    app: walnuts-dev-www-redirect
  ports:
  - protocol: TCP
    port: 80
    targetPort: 80
  type: ClusterIP
