apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: moco-helm
  namespace: argocd
spec:
  destination:
    namespace: moco-system
    server: https://kubernetes.default.svc
  project: default
  source:
    chart: moco
    helm:
      releaseName: moco
      values: |
        replicaCount: 1

        resources:
          requests:
            cpu: 1m
            memory: 40Mi

        tolerations:
        - key: "node.walnuts.dev/low-performance"
          operator: "Exists"
    repoURL: https://cybozu-go.github.io/moco/
    targetRevision: 0.24.0
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - ServerSideApply=true
      - FailOnSharedResource=true
