name: k8s badge build
on:
  workflow_dispatch:
  schedule:
    - cron: '0/10 * * * *'
# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow only one concurrent deployment, skipping runs queued between the run in-progress and latest queued.
# However, do NOT cancel in-progress runs as we want to allow these production deployments to complete.
concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  k8s-badge-build:
    name: k8s badge build
    runs-on: ubuntu-latest
    steps:
      - name: setup tailscale
        uses: tailscale/github-action@v2
        with:
          oauth-client-id: ${{secrets.TAILSCALE_CLIENT_ID}}
          oauth-secret: ${{secrets.TAILSCALE_SECRET}}
          tags: "tag:github"
          args: "--accept-routes"
          version: 1.64.0

      - name: gen svg
        uses: walnuts1018/k8s-badge@v1.1.2
        timeout-minutes: 5
        with:
          kubeconfig: ${{ secrets.Kubeconfig }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
