name: Namespace Auto Generation
on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: switch to auto-gen-namespace branch
        run: git switch -c auto-gen-namespace

      - name: setup-go
        uses: actions/setup-go@4b73464bb391d4059bd26b0524d20df3927bd417 # v6.3.0
        with:
          go-version-file: "scripts/infrautil/go.mod"
          cache-dependency-path: "scripts/infrautil/go.sum"

      - name: make namespace
        run: |
          make namespace

      - name: check diff
        id: check-diff
        run: |
          echo "diff=$(git diff --name-only | wc -l)" >> $GITHUB_OUTPUT

      - uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        id: generate_token
        if: steps.check-diff.outputs.diff > 0
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.PRIVATE_KEY }}

      - name: Set env
        if: steps.check-diff.outputs.diff > 0
        run: |
          echo "GH_TOKEN=${{ steps.generate_token.outputs.token }}" >> $GITHUB_ENV

      - name: push
        if: steps.check-diff.outputs.diff > 0
        run: |
          git config user.name  "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add .
          git commit -m "auto-gen-namespace"
          git push origin auto-gen-namespace --force

      - name: create PR
        if: steps.check-diff.outputs.diff > 0
        run: |
          gh pr create --title "auto-gen-namespace" --body "auto-gen-namespace" --base main --head auto-gen-namespace
          gh pr merge --merge --auto
