name: Snapshot Auto Generation
on:
  push:
    branches:
      - "**"
      - "!snapshot"
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  snapshot:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/create-github-app-token@67018539274d69449ef7c02e8e71183d1719ab42 # v2.1.4
        id: generate_token
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.PRIVATE_KEY }}

      - name: Set env
        run: |
          echo "GITHUB_TOKEN=${{ steps.generate_token.outputs.token }}" >> $GITHUB_ENV

      - name: Check out
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          token: ${{ steps.generate_token.outputs.token }}

      - name: switch to snapshot branch
        run: git switch -c snapshot

      - name: setup-go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version-file: "scripts/infrautil/go.mod"
          cache-dependency-path: "scripts/infrautil/go.sum"

      - name: make snapshot
        run: |
          make snapshot

      - name: Upload folder
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          if-no-files-found: error
          name: snapshots
          path: |
            k8s/snapshots

      - name: mv snapshot
        if: ${{ github.ref_name == 'main' }}
        run: |
          rm -rf k8s/apps
          mv k8s/snapshots/apps k8s/apps
          mv k8s/snapshots/helm k8s/helm

      - name: push
        if: ${{ github.ref_name == 'main' }}
        run: |
          git config user.name  "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add .
          git commit -m "snapshot"
          git push origin snapshot --force

  scan:
    runs-on: ubuntu-latest
    if: ${{ github.ref_name == 'main' }}
    needs: snapshot
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          ref: snapshot

      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@6c175e9c4083a92bbca2f9724c8a5e33bc2d97a5 # 0.30.0
        with:
          scan-type: "config"
          format: "sarif"
          output: "trivy-results.sarif"
          ignore-unfixed: true
          severity: "CRITICAL,HIGH"
          trivy-config: trivy.yaml

      - name: Upload Trivy scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@e12f0178983d466f2f6028f5cc7a6d786fd97f4b # v4.31.4
        with:
          sarif_file: "trivy-results.sarif"
  lint:
    runs-on: ubuntu-latest
    needs: snapshot
    steps:
      - name: Check out
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - uses: aquaproj/aqua-installer@11dd79b4e498d471a9385aa9fb7f62bb5f52a73c # v4.0.4
        with:
          aqua_version: v2.55.2

      - uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: snapshots
          path: ./k8s/snapshots/

      - name: Lint manifest with kubeconform
        run: |
          kubeconform -ignore-missing-schemas -strict -summary ./k8s/snapshots/apps

  # auto merge用
  # auto megeはskipもsuccessとみなす
  status-check:
    runs-on: ubuntu-latest
    needs: [lint]
    if: failure()
    steps:
      - run: exit 1
