name: Check Snapshot Diff
on:
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: setup-go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: "scripts/infrautil/go.mod"
          cache-dependency-path: "scripts/infrautil/go.sum"

      - name: make snapshot
        run: |
          make snapshot
          mv k8s/snapshots /tmp/snapshots-head

      - name: Check out snapshot branch
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          ref: snapshot

      - name: mv
        run: |
          mkdir /tmp/snapshots-main
          mv k8s/apps /tmp/snapshots-main/apps
          mv k8s/helm /tmp/snapshots-main/helm

      - name: Upload folder
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          if-no-files-found: error
          name: manifests
          path: |
            /tmp/snapshots-head
            /tmp/snapshots-main

  diff:
    runs-on: ubuntu-latest
    needs: generate
    if: github.event_name == 'pull_request'
    steps:
      - name: Check out
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - uses: aquaproj/aqua-installer@11dd79b4e498d471a9385aa9fb7f62bb5f52a73c # v4.0.4
        with:
          aqua_version: v2.55.1
          
      - uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: manifests  
          
      - name: Build markdown comment with manifest diff
        run: |
          echo "# Manifest (k8s/apps) diff

          <details>
          <summary>Click to expand</summary>

          \`\`\`diff
          $(for f in $(find ./snapshots-head/apps -type f); do dyff between --output github $(echo $f | sed 's/head/main/') $f | head -c -1; done)
          \`\`\`
          </details>" | tee /tmp/diff.md

      # PRへのコメントだけど、issue commentのAPIを使うらしい
      - name: Comment manifest diff to GitHub PR
        continue-on-error: true
        run: |
          cat /tmp/diff.md | jq -Rs '{ "body": . }' | curl --fail \
            -X POST -H 'Accept: application/vnd.github.v3+json' \
            --header 'authorization: Bearer ${{ secrets.GITHUB_TOKEN }}' \
            https://api.github.com/repos/${{ github.repository }}/issues/${{ github.event.number }}/comments \
            -d @-

      - name: Build markdown comment with helm diff
        run: |
          echo "# Helm diff

          <details>
          <summary>Click to expand</summary>

          \`\`\`diff
          $(for f in $(find ./snapshots-head/helm -type f); do dyff between --output github --exclude-regexp '.metadata.labels.app.kubernetes.io/version|.metadata.labels.chart|.metadata.labels.helm.sh/chart' $(echo $f | sed 's/head/main/') $f | head -c -1; done)
          \`\`\`
          </details>" | tee /tmp/diff.md

      # PRへのコメントだけど、issue commentのAPIを使うらしい
      - name: Comment manifest diff to GitHub PR
        continue-on-error: true
        run: |
          cat /tmp/diff.md | jq -Rs '{ "body": . }' | curl --fail \
            -X POST -H 'Accept: application/vnd.github.v3+json' \
            --header 'authorization: Bearer ${{ secrets.GITHUB_TOKEN }}' \
            https://api.github.com/repos/${{ github.repository }}/issues/${{ github.event.number }}/comments \
            -d @-
